body {
  transition: background-color 0.5s, color 0.5s;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
::-webkit-scrollbar-track {
  background: #ff0000;  /* Track color */
  border-radius: 10px;
}
ul,li, a{
  text-decoration:  none;
  list-style: none;

}
html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: #e5e7eb;
}

html::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #6d28d9;
}
